server:
  port: 8085
  error:
    whitelabel:
      enabled: false
management:
  server:
    port: 8185
spring:
  jpa:
    open-in-view: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
        order_by:
          default_null_ordering: last
        format_sql: false
    show-sql: true
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5435/pediTrack
    username: postgres
    password: postgres
  flyway:
    enabled: false
    baselineOnMigrate: true
    locations:
      - classpath:db/migration
logging:
  level:
    root: INFO
    web: DEBUG