server:
  port: 8085
  error:
    whitelabel:
      enabled: false
management:
  server:
    port: 8185
spring:
  jpa:
    open-in-view: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
        order_by:
          default_null_ordering: last
        format_sql: false
    show-sql: true
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:8080/postgres
    username: postgres
    password: postgres
  flyway:
    baselineOnMigrate: false
    locations:
      - classpath:/db/migration
